#projects{
    padding-top:2.5rem;
}
.project_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.project_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project_item:hover{
    border: 1px solid var(--color-primary-variant);
    background: transparent;
}
.project-img{
    border-radius: 1.2rem;
    overflow: hidden;
}
.project_item h3{
    margin: 0.6rem 0;
}
.btn{
    margin-right: 1.5rem;
}
/* .cta{
    display: flex;
    gap:1rem;

} */