header{
    height: 100vh;
    padding-top: 6rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

 /*------------buttons cta--------*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap:1.2rem;
    justify-content: center;
}

/*-----------socials-------------*/
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
/*------edit photo-------*/
.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-top-left-radius: 12rem;
    border-top-right-radius: 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}
/*-----------scroll down--------*/
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*----------making it responsive for medium size devices-------------*/
@media screen and (max-width:1024px) {
    header{
        height: 68vh;
    }
}

@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header_socials,.scroll_down{
        display: none;
    }
}